name: AutoRelease

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          find -type f -name '*.json' -exec sh -c 'OUTPUT="$(jq -c < {})" ; echo $OUTPUT > {}' \;
          find -type f -name '*.mcmeta' -exec sh -c 'OUTPUT="$(jq -c < {})" ; echo $OUTPUT > {}' \;
          zip -r release.zip pack.mcmeta pack.png assets

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION=$(gh release view --json tagName -q ".tagName")
          [[ $VERSION =~ [0-9]*$ ]]
          INDEX=$BASH_REMATCH
          [[ $VERSION =~ (.*)$INDEX ]]
          VERSION="${BASH_REMATCH[1]}$(( $INDEX + 1 ))"
          gh release create $VERSION release.zip
