name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version Number"
        required: true
        default: "v0.0.0"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          find -type f -name '*.json' -exec sh -c 'OUTPUT="$(jq -c < {})" ; echo $OUTPUT > {}' \;
          find -type f -name '*.mcmeta' -exec sh -c 'OUTPUT="$(jq -c < {})" ; echo $OUTPUT > {}' \;
          zip -r release.zip pack.mcmeta pack.png assets

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create ${{ inputs.version }} release.zip
